name: Terraform CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  terraform:
    name: Terraform Validation and Plan
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    env:
      TF_VAR_key_name: ${{ secrets.TF_VAR_key_name }}
      TF_VAR_instance_type: ${{ secrets.TF_VAR_instance_type }}
      TF_VAR_project_name: ${{ secrets.TF_VAR_project_name }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

